spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://106.14.161.16:3306/sell?characterEncoding=utf-8&useSSL=false
  resources: # 指定静态资源的路径
    static-locations: classpath:/static/,classpath:/templates/
  jpa:
    show-sql: true
  redis:
    host: 106.14.161.16
    port: 6379
#  jackson: #配置controller返回值去掉null的数据 data;null 不会被返回到前台
#    default-property-inclusion: non_null
server:
  context-path: /cookie
#logging:
#  pattern:
#    console: "%d - %msg%n"
##  path: E:\git_work\study\sell\log
#  file: E:\git_work\study\sell\sell.log
#  level: info

# 微信配置
wechat:
  mpAppId: wxd898fcb01713c658
  mpAppSecret: 47ccc303338cee6e62894fxxxxxxxxxxx
  openAppId: wx6ad144e54af67d87
  openAppSecret: 91a2ff6d38a2bbccfb7e9f9079108e2e
  mchId: 1483469312
  mchKey: 06C56A89949D617xxxxxxxxxxx
  keyPath: /var/weixin_cert/h5.p12
  notifyUrl: http://sell.natapp4.cc/sell/pay/notify
  templateId:
    orderStatus: e-Cqq67QxD6YNI41iRiqawEYdFavW_7pc7LyEMb-yeQ
projectUrl:
  wechatMpAuthorize: http://sell.natapp4.cc
  wechatOpenAuthorize: http://sell.natapp4.cc
  sell: http://sell.natapp4.cc
# 设置logger打印控制台mybatis sql 语句
logging:
  level:
    com.cookie.dao: trace
mybatis:
  mapper-locations: classpath:mapper/*.xml

