<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cookie.dao.OrderDetailMapper">

    <resultMap id="BaseResultMap"   type="com.cookie.dto.OrderDetailDTO">
        <result column="detail_id" property="detailId" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
        <result column="product_quantity" property="productQuantity" jdbcType="INTEGER" />
        <result column="product_icon" property="productIcon" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        detail_id, order_id, product_id, product_name, product_price, product_quantity, product_icon,
         DATE_FORMAT(create_time, '%Y-%m-%d %T') AS  create_time,
        DATE_FORMAT(update_time, '%Y-%m-%d %T')  AS update_time
    </sql>

    <select id="findByDetailId"  resultMap="BaseResultMap"  parameterType="com.cookie.pojo.OrderDetail">
        select <include refid="Base_Column_List"/>
        from order_detail
        where detail_id=#{detailId}
    </select>
    
    <select id="findByOrderId" resultMap="BaseResultMap" parameterType="com.cookie.pojo.OrderDetail" >
        select <include refid="Base_Column_List"/>
        from order_detail
        where order_id=#{orderId}
    </select>

    <insert id="insertOrderDetail" parameterType="com.cookie.pojo.OrderDetail" >
        insert into order_detail (detail_id, order_id, product_id, product_name,
        product_price, product_quantity, product_icon, create_time,
        update_time)
        values (#{detailId}, #{orderId}, #{productId}, #{productName},
        #{productPrice}, #{productQuantity}, #{productIcon}, #{createTime},
        #{updateTime})
    </insert>

    <update id="updateByDetailId" parameterType="com.cookie.pojo.OrderDetail" >
        update order_detail
        set product_quantity = #{productQuantity},
        update_time =now()
        where detail_id = #{detailId}
    </update>

    <delete id="deleteByDetailId" parameterType="com.cookie.pojo.OrderDetail" >
        delete from order_detail
        where detail_id = #{detailId}
    </delete>

    <delete id="deleteByOrderId" parameterType="com.cookie.pojo.OrderDetail">
        delete from order_detail
        where order_id=#{orderId}
    </delete>

</mapper>